html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.8;
  color: #333;
  font-size: 15px;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #391e88;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.contact-btn {
  width: 220px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.contact-btn:hover {
  opacity: 0.8;
}

.more-btn {
  position: relative;
  font-weight: bold;
  line-height: 1.4;
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  background-size: 200% auto;
}
.more-btn:hover {
  background-position: right center;
}

h2 {
  font-size: 36px;
  color: #391e88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  letter-spacing: 0.05em;
}
h2 span {
  font-size: 13px;
  line-height: 5px;
  letter-spacing: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header-nav li {
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
.header-nav-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 5.5px;
}
.header-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header.scroll-nav {
  padding: 30px;
  background: #21054d;
}

.header-nav-link:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: url(../img/hero_pc.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-inner {
  padding: 0 40px;
  text-align: center;
}
.hero-title {
  position: relative;
  font-weight: bold;
  line-height: 1;
  font-size: 72px;
  color: #fff;
  letter-spacing: normal;
}
.hero-text {
  margin-top: 20px;
  letter-spacing: 0.1em;
  font-size: 24px;
}
.hero-link {
  margin-top: 50px;
}
.hero-scroll {
  position: absolute;
  right: 20px;
  bottom: 0;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 90px;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.hero-scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 80px;
  content: "";
  background: #fff;
}

.news {
  margin-top: 70px;
}
.news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news-heading {
  margin-right: 50px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
.news-list-date {
  margin-right: 20px;
}
.news-list-category {
  margin-right: 20px;
  font-weight: bold;
  font-size: 12px;
  display: block;
  width: 82px;
  padding: 2px 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #e8e8e8;
}
.news-list-body a {
  color: #333;
}
.news-list-body a:hover {
  text-decoration: underline;
}

.service {
  margin-top: 140px;
}
.service-inner {
  max-width: 1110px;
  margin: 0 auto;
}
.service-heading {
  text-align: center;
}
.service-link {
  text-align: center;
  margin-top: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card-item {
  width: 350px;
  margin-right: 30px;
}
.card-item-body h3 {
  text-align: center;
  margin-top: 24px;
}
.card-item-body p {
  margin-top: 17px;
}

.works {
  margin-top: 140px;
}
.works-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1260px;
  height: 650px;
  margin: 0 auto;
  position: relative;
}
.works-inner::after {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  display: block;
  width: 60%;
  height: 100%;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f0f0f0;
}
.works-slideshow {
  margin-right: 20px;
}
.works-body {
  width: 430px;
  text-align: center;
}
.works-text {
  margin-top: 30px;
}
.works-link {
  margin-top: 30px;
}

.company {
  margin-top: 60px;
}
.company-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/company_bg_pc.png);
  background-position: center;
  background-size: auto;
  height: 615px;
}
.company-body {
  background-image: url(../img/company_photo_pc.png);
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 1300px;
}
.company-message {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}
.company-message-line {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #f5f534));
  background: linear-gradient(transparent 70%, #f5f534 70%);
}
.company-text {
  margin-top: 40px;
}
.company-link {
  margin-top: 30px;
}

.recruit {
  margin-top: 65px;
}
.recruit-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  height: 340px;
  margin: 0 auto;
  background-color: #f0f0f0;
}
.recruit-body {
  text-align: center;
  width: 40%;
}
.recruit-img {
  width: 60%;
}
.recruit-img img {
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recruit-text {
  margin-top: 30px;
}
.recruit-link {
  margin-top: 30px;
}

.contact {
  margin-top: 100px;
}
.contact-inner {
  background-color: #f0f0f0;
  padding: 80px 0;
  text-align: center;
}
.contact-text {
  margin-top: 35px;
}
.contact-link {
  margin-top: 30px;
}

.footer {
  background-color: #120e19;
  padding: 60px 3px 60px;
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-nav li {
  margin-right: 30px;
  font-size: 14px;
}
.footer-nav a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-nav a:hover {
  opacity: 0.8;
}
.footer .copyright {
  color: #A798B7;
  text-align: center;
  margin-top: 22px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */