.footer {
    background-color: #120e19;
    padding: 60px 3px 60px;
    &-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin-right: 30px;
        }
        a {
            color: #fff;
            transition: 0.3s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .copyright {
        color: #A798B7;
        text-align: center;
        margin-top: 22px;
    }
}