@forward '../base/colors';
@use '../base/colors';

.footer {
    background-color: colors.$color-footer;
    padding: 60px 3px 60px;
    &-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin-right: 30px;
            font-size: 14px;
        }
        a {
            color: #fff;
            transition: 0.3s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .copyright {
        color: colors.$color-copyright;
        text-align: center;
        margin-top: 22px;
        font-size: 10px;
    }
}