.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: url(../img/hero_pc.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
    &-inner {
        padding: 0 40px;
        text-align: center;
    }
    &-title {
        position: relative;
        font-weight: bold;
        line-height: 1;
        font-size: 72px;
        color: #fff;
        letter-spacing: normal;
    }
    &-text {
        margin-top: 20px;
        letter-spacing: .1em;
        font-size: 24px;
    }
    &-link {
        margin-top: 50px;
    }
    &-scroll {
        position: absolute;
        right: 20px;
        bottom: 0;
        line-height: 1;
        display: inline-block;
        overflow: hidden;
        padding: 10px 10px 90px;
        text-decoration: none;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        writing-mode: vertical-lr;
        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 1px;
            height: 80px;
            content: "";
            background: #fff;
        }
    }
}