@forward '../base/colors';
@use '../base/colors';

.recruit {
    margin-top: 65px;
    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1110px;
        height: 340px;
        margin: 0 auto;
        background-color: #f7f7f7;
    }
    &-body {
        text-align: center;
        width: 40%;
    }
    &-img {
        width: 60%;
        img {
            height: 340px;
            object-fit: cover;
        }
    }
    &-text {
        margin-top: 30px;
    }
    &-link {
        margin-top: 30px;
    }
}