
$color-main: #391e88 !default;
$color-header: #21054d !default;
$color-btn: linear-gradient(to right, #7633a4 0%,#250d65 51%,#7633a4 100%) !default;
$color-text: #333 !default;
$color-gray: #f0f0f0 !default;
$color-yellow: #f5f534 !default;
$color-footer: #120e19 !default;
$color-copyright: #A798B7 !default;